ghostty/.config/ghostty/config-dankcolors

gtk/.config/gtk-3.0/dank-colors.css
gtk/.config/gtk-4.0/dank-colors.css

kitty/.config/kitty/dank-theme.conf
kitty/.config/kitty/dank-tabs.conf
niri/.config/niri/dms
