* {
    font:             "CaskaydiaCove Nerd Font Propo 10";
    font-regular:             "Caskaydia Cove Nerd Font Propo 14";
    font-big:          "CaskaydiaCove Nerd Font Propo 16";
    font-enormous:          "CaskaydiaCove Nerd Font Propo 28";
}

