[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/ErfanRasti/nvim
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/ErfanRasti/tmux
