[submodule "dotfiles/nvim/.config/nvim"]
	path = dotfiles/nvim/.config/nvim
	url = https://github.com/ErfanRasti/nvim
[submodule "dotfiles/tmux/.config/tmux"]
	path = dotfiles/tmux/.config/tmux
	url = https://github.com/ErfanRasti/tmux
