
@import 'colors.css';

* {
    font-family: "CaskaydiaCove Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
    margin: 0;
    border-radius: 0px
}

.module {
	background-color: alpha(@surface_container_low, 0.3);
  color: @primary;
	padding: 1px 1px 1px 1px;
	margin: 0px 1px 0px 1px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px alpha(@shadow, 0.25);
	border: 0px solid transparent;
	background-clip: padding-box;
  padding-left: 5px;
  padding-right: 5px;
}

window#waybar.hidden {
	opacity: 0;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
  border-radius: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1px;
  font-weight: bold;
  color: @shadow;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button label {
	color: @tertiary;
	font-weight: bold;
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active label {
	color: @on-secondary-container;
	font-weight: bolder;
}

#workspaces button.urgent {
	background-color: @error-container;
}

#workspaces button.urgent label {
	color: @on-error-container;
	font-weight: bold;
}

#workspaces button.active {
	padding-right: 2px;
	padding-left: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
	box-shadow: 0px 1px 1px 0px alpha(@shadow, 0.3);
	margin-top: 2px;
	margin-bottom: 2px;
	background: linear-gradient(
		45deg,
		@primary,
    @secondary,
    @tertiary
	);
	background-size: 100% 100%;
	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	color: @tertiary;
	border-radius: 10px;
}

#workspaces button.active label{
  color:@on_primary;

}

#workspaces button:hover {
	background-color: @secondary;
}
#workspaces button.focused:hover {
	background-color: alpha(@tertiary, 0.9);
}

#workspaces button.focused:hover label {
	color: @on_secondary;
}

#custom-notification,
#clock,
#power-profiles-daemon{
   color: @tertiary; 
}

#cpu,
#memory,
#temperature {
  color: @secondary;
}
#custom-lock{
  padding: 1px 1px 1px 1px;
  padding-right: 5px;
  padding-left: 5px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 10px;

}
#custom-quit{
  padding: 1px 1px 1px 1px;
  padding-right: 5px;
  padding-left: 5px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;

}
#custom-suspend{
  padding: 1px 1px 1px 1px;
  padding-right: 5px;
  padding-left: 5px;
	margin: 0px 0px 0px 0px;
	border-radius: 0px 10px 0px 0px;

}

