// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "systemctl --user stop swaync.service"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "systemctl --user start hypridle-runner.service"

spawn-sh-at-startup "paplay /usr/share/sounds/ocean/stereo/desktop-login.oga"


