
spawn-at-startup "dms" "run"
binds {

  Alt+space { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
  Mod+Comma hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "toggle"; }

  // Audio
  XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
  XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
  XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
  
  // BL
  XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" "backlight:intel_backlight"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" "backlight:intel_backlight"; }


  Mod+Alt+W {spawn-sh "dms ipc call dash toggle wallpaper";}
  Ctrl+Alt+Delete hotkey-overlay-title="Task Manager" { spawn "dms" "ipc" "call" "processlist" "toggle";}
  Mod+S { spawn-sh "dms ipc call control-center toggle"; }
  Mod+V { spawn "dms" "ipc" "call" "clipboard" "toggle"; }

}
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

