// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Block out mako notifications from screencasts.
// Check https://yalter.github.io/niri/Screencasting.html#block-out-windows
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}


// HINT: Find window names by `niri msg windows`
//////////////////////////////////////////////////////////////////// All windows
// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 10
    open-maximized-to-edges false
    clip-to-geometry true
    tiled-state true
    // https://www.reddit.com/r/niri/comments/1p2zo0q/focus_ring_causes_a_tint_of_that_colour_to_appear/
    // This will draw border color to the windows (if they are transparent)
    draw-border-with-background false

    background-effect {
        blur true
    }
}

//////////////////////////////////////////////////////////////////// Opacity

window-rule {
  exclude title="Noctalia" app-id="dev.noctalia.noctalia-qs"
  // match is-focused=true

  opacity 0.9
}

window-rule {
  match is-focused=false
  opacity 0.9

}

//////////////////////////////////////////////////////////////////// Handle floating windows

window-rule {
    match is-floating=true
    open-floating false
}

////////////////////////////////////////////////////////////////////

window-rule {
  match app-id="vlc"
  match app-id="kitty"
  default-column-width { proportion 0.6; }
  default-window-height { proportion 1.0; }
}

window-rule {
  match title="kitty-dropterm"
  match app-id="btop"
  match title="dgop-kitty"
  match app-id="org.gnome.Nautilus"
  match app-id="yazi"
  match app-id="org.gnome.Settings"
  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.7; }
  open-floating true
}

window-rule {
  match title="fum" app-id="kitty"
  default-column-width { proportion 0.15; }
  default-window-height { proportion 0.5; }
  default-floating-position x=2 y=2 relative-to="top-right"
  open-floating true
  // open-on-workspace "Scratchpad"
}

window-rule {
  match title="cava" app-id="kitty"
  default-column-width { proportion 0.3; }
  default-window-height { proportion 0.2; }
  default-floating-position x=2 y=2 relative-to="bottom-right"
  open-floating true
  // open-on-workspace "Scratchpad"
}

window-rule {
  match app-id="io.github.kaii_lb.Overskride"
  default-column-width { proportion 0.5; }
  // open-on-workspace "Scratchpad"
}

window-rule {
  match app-id="org.telegram.desktop"
  match app-id="hiddify"
  default-column-width { proportion 0.15; }
  open-on-workspace "Entertainment"
}

window-rule {
  match app-id="spotify"
  match app-id="v2rayN"
  match app-id="uget-gtk"
  default-column-width { proportion 0.65; }
  open-on-workspace "Entertainment"
}

window-rule {
  match app-id="uget-gtk"
  default-column-width { proportion 0.65; }
  open-on-workspace "Web"
}

window-rule {
  match app-id="google-chrome" title="^*Google Chrome$"
  match app-id="microsoft-edge"
  match app-id="zen" title="Zen Browser"
  exclude title="File Upload" app-id="zen"
  match app-id="firefox" title="Mozilla Firefox"
  open-maximized-to-edges true

  open-on-workspace "Web"
}

window-rule {
  match app-id="org.gnome.Nautilus" title="Open Files"
  match app-id="org.gnome.Nautilus" title="Choose a default destination"
  match title="File Upload" app-id="zen"
  default-window-height { proportion 0.7; }
  default-column-width { proportion 0.7; }

  open-floating true
}

window-rule {
  // match app-id=r#"kitty"# title=r#"kitty"#
  match app-id="kitty-main"

  open-on-workspace "Main"
}

window-rule {
    match app-id=r#"^MATLAB.*"#
    // r#" ... "# is a raw string literal.
    // ^ → start of the string
    // MATLAB → must begin with the word “MATLAB”
    // .* → anything may follow (any characters, 0 or more)

    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    match app-id="v2rayN"

    block-out-from "screencast"
}

window-rule {
    match app-id="gsr-ui"
    opacity 0.8
    open-maximized-to-edges true
    draw-border-with-background false
}

window-rule {
    match app-id="one.alynx.showmethekey" title="Floating Window - Show Me The Key"
    default-column-width { fixed 200; }
    default-window-height { fixed 50; }
    default-floating-position x=2 y=2 relative-to="bottom-right"
    open-floating true
    open-focused false
}

window-rule {
    match title=r#"Meet - .*$"# app-id="google-chrome"
    default-floating-position x=2 y=2 relative-to="bottom-right"
    default-column-width { proportion 0.1; }
    default-window-height { proportion 0.25; }
    open-floating true
    open-focused false
}

window-rule {
    match title="meet.google.com is sharing your screen."
    match title="web.bale.ai is sharing your screen."
    default-floating-position x=2 y=2 relative-to="bottom-right"
    open-floating true
    open-focused false
    border {
      off
    }
    focus-ring {
      off
    }
}

// window-rule {
//     match is-active=true is-focused=false
//     baba-is-float true
// }

// layer-rule {
//     match namespace="dms:bar"
//     match namespace="dms:desktop-widget:*"
//     geometry-corner-radius 12
//     background-effect {
//         blur true
//     }
// }

layer-rule {
  match namespace="rofi"
    // I've set the corner radius one pixel more to avoid pixelated corners
    geometry-corner-radius 16
    background-effect {
        blur true
    }
}


