// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Check https://yalter.github.io/niri/Configuration%3A-Include.html
include "config/input.kdl"
include "config/outputs.kdl"
include "config/envvars.kdl"
include "config/autostarts.kdl"
include "config/layout.kdl"
include "config/workspaces.kdl"
include "config/appearance.kdl"
include "config/misc.kdl"
include "config/binds.kdl"
include "config/rules.kdl"
// include "config/dms.kdl"
include "config/noctalia.kdl"
include "config/colors.kdl"
